html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.controls div {
  display: inline-flex;
}
.controls button {
  padding: 0;
  margin: 5px;
  font-size: 50pt;
  width: 100px;
  height: 100px;
}

.disabled {
  background-color: darkgray;
  color: white;
}

.pressed {
  background-color: orangered;
}
