table,
tr,
td {
  border: 1px solid darkcyan;
  border-collapse: collapse;
}
td {
  padding: 50px;
}

td[paint='true'] {
  background: darkcyan;
}

td[paint-player='true'] {
  background: magenta;
}

.button-toggle-on {
  background: green;
  color: white;
}
