table,
tr,
td {
  border: 1px solid darkcyan;
  border-collapse: collapse;
}
td {
  padding: 50px;
}

td[paint='true'] {
  background: darkcyan;
}

td[paint-player='true'] {
  background: magenta;
}

.button-toggle-on {
  background: green;
  color: white;
}

.key-indicator {
  display: flex;
  align-items: flex-end;
}
.key-indicator div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.key-indicator span {
  padding: 30px;
  background: lightgrey;
}
.key-indicator [key-active='true'] {
  background: lightgreen;
}
